body{
    background-color:#848484;
}
.main{
    background-color: #f2f2f2;
    margin: 5%;
    padding:5px;
    border-radius: 5px;
}
.center{
    margin: auto;
    width:30%;
    padding:10px;
    text-align:center;
}
label{
    text-align:left;
    display:block;
}
.input_text{
    width:99%;
}
#exito{
    text-align:center;
    color:green;	
}
#error{
    text-align:center;
    color:red;	
}				

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
tr:nth-child(even) {background-color: gray;}

tr:hover {background-color: green;}

.asd{
    margin-left:20px;
}
